
<html lang="en" ng-app="CapoeiraTechnics">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body layout="column" ng-controller="AppCtrl">

    <md-toolbar layout="row">
      <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
        <span class="visually-hidden">Menu</span>
      </button>
      <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Bantus Capoera moves</h1>
    </md-toolbar>

    <div layout="row" flex>
      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-tabs md-dynamic-height md-border-bottom>
        <div ng-init="moveTypes = ['Footwork', 'Ataque', 'Defesa', 'Floreios']"></div>
        <md-tab ng-repeat="type in moveTypes" label="{{type}}">
          <md-list>
            <div ng-repeat="sub_technics in technics | filter:{type:type}">
              <md-subheader class="md-no-sticky">{{sub_technics.sub_type}}</md-subheader>
              <md-list-item ng-repeat="item in sub_technics.list">
                <md-button ng-click="technics.selectMove(item)" ng-class="{'selected' : item === technics.selected }">
                  <h4>{{item.name}}</h4>
                </md-button>
              </md-list-item>
            </div>
          </md-list>
        </md-tab>
      </md-tabs>
      </md-sidenav>

      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">

          <h2>{{technics.selected.name}}</h2>
          <h4>{{technics.selected.type}}/{{technics.selected.sub_type}}</h4>
          <p>{{technics.selected.description}}</p>

          <section ng-repeat="link in technics.selected.links">
            
            <iframe class="youtube_video" ng-if="link.type == 'youtube'" src="{{generateYoutubeLink(link.href)}}" width="560" height="315" frameborder="0" allowfullscreen></iframe>


          </section>

        </md-content>
      </div>
    </div>


    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.js"></script>


    <script src="index.js"></script>
    <script src="technics.js"></script>
  </body>
</html>