html {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

p, input {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.menuBtn {
  background-color: transparent;
  border: none;
  width: 54px;
  color: white;
}

md-toolbar h1 {
  font-weight: normal;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

.move_description video,
.move_description iframe {
  width: 480px;
  height: 272px;
  margin-bottom: 20px;
}

.medias > section {
	width: 100%;
}

.medias > section > div {
  font-weight: bold;
}

.medias svg {
  //-webkit-transform: scale(0.5)
}

@media (min-width: 890px) {
  .youtube_video {
    width: 560px;
  }
}

@media (max-width: 890px) {
  .youtube_video {
    width: 100%;
  }
}
